.nav-hover:hover{
  color: #C27AFF;
}


.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
 

.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.label {
  background-color: transparent;
  border: 2px solid #C27AFF;
  display: flex;
  align-items: center;
  border-radius: 50px;
  min-width: 160px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 6px 14px;
  gap: 12px;
  position: relative;
  overflow: hidden;
}

.label:hover {
  background: linear-gradient(90deg, #c27aff, #9f51ff);
  border-color: #9f51ff;
}

.label .input {
  display: none;
}

.label .title {
  font-size: 16px;
  color: #ffffff;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.label .title:last-child {
  opacity: 0;
  visibility: hidden;
}

.label .circle {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #C27AFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
  overflow: hidden;
  flex-shrink: 0;
}

.label .circle .icon {
  color: #fff;
  width: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle .square {
  aspect-ratio: 1;
  width: 14px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #a653f5;
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

/* Animation triggers */
.label:has(.input:checked) {
  min-width: 55px;
  animation: installed 0.4s ease 3.5s forwards;
  padding: 6px;
  gap: 0;
}

.label:has(.input:checked)::before {
  animation: rotate 3s ease-in-out 0.4s forwards;
}

.label .input:checked + .circle {
  animation: pulse 1s forwards, circleDelete 0.2s ease 3.5s forwards;
  rotate: 180deg;
}

.label .input:checked + .circle::before {
  animation: installing 3s ease-in-out forwards;
}

.label .input:checked + .circle .icon {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .circle .square {
  opacity: 1;
  visibility: visible;
}

.label .input:checked ~ .title {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .title:last-child {
  animation: showInstalledMessage 0.4s ease 3.5s forwards;
}

/* Animations */
@keyframes pulse {
  0% { scale: 0.95; box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); }
  70% { scale: 1; box-shadow: 0 0 0 16px rgba(255, 255, 255, 0); }
  100% { scale: 0.95; box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}
@keyframes installing {
  from { height: 0; }
  to { height: 100%; }
}
@keyframes rotate {
  0% { transform: rotate(-90deg) translate(27px) rotate(0); opacity: 1; visibility: visible; }
  99% { transform: rotate(270deg) translate(27px) rotate(270deg); opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}
@keyframes installed {
  100% {
    min-width: 150px;
    border-color: #2dc653;
  }
}
@keyframes circleDelete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes showInstalledMessage {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
